<div th:fragment="sidebarFragment">
    <div class="sidebar" id="sidebar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/my-availability">My Availability</a></li>
            <li><a href="/my-skills">My Skills</a></li>
            <li><a href="/my-race-availability">My Race Availability</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/upcoming-sessions">Upcoming Sessions</a></li>
            <li><a href="/make-new-sessions">Make New Sessions</a></li>
            <li><a href="/standard-sessions">Standard rowingSessions</a></li>
            <li><a href="/availability">Availability</a></li>
            <li><a href="/races">Races</a></li>
            <li><a href="/rowers">Rowers</a></li>
            <li><a href="/boats-blades">Boats & Blades</a></li>
        </ul>
    </div>

    <button class="sidebar-toggle" id="sidebarToggle">
        <span class="arrow">&#x02190;</span> <!-- Left arrow for collapsing -->
    </button>
</div>
