<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MRC Condition Checker</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<header>
    <div class="header-container">
        <h1>MRC Condition Checker</h1>
        <img src="/mrc_logo.png" alt="MRC Logo" width="100">
    </div>
</header>
<main>
    <!-- Login Form -->
    <div class="login-container">
        <h2>Login</h2>
        <form th:action="@{/home}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</main>
<footer>
    <p>Data provided by <strong>OpenWeatherMap</strong></p>
    <p>Logic/weather rules, & website, provided by Mersey Rowing Club</p>
</footer>
</body>
</html>
