<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Availability</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/sidebar.css}"> <!-- Sidebar styles -->
</head>
<body>
<header>
    <div class="header-container">
        <div class="header-content">
            <h1>MRC Rowing Services</h1>
            <img src="/mrc_logo.png" alt="MRC Logo" width="100">
        </div>
    </div>
</header>


<!-- Include the sidebar using the updated syntax -->
<div th:replace="~{sections/sidebar :: sidebarFragment}"></div>

<main class="content" id="content">
    <h2>My Availability (Next 4 Weeks)</h2>

    <div th:each="squadEntry : ${availabilitySessions}">
        <h3>[[ ${squadEntry.key.name} ]] - Availability</h3>

        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Levels</th>
                <th>Day</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="availabilityGroup : ${squadEntry.value}">
                <td th:text="${availabilityGroup.getDayOfTheWeek()}"></td>
                <td th:text="${availabilityGroup.getDate()}"></td>
                <td th:text="${availabilityGroup.getStartTime()}"></td>
                <td th:text="${availabilityGroup.getEndTime()}"></td>
                <td th:text="${availabilityGroup.getLevels()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>




<footer>
    <p>Data provided by <strong>OpenWeatherMap</strong></p>
    <p>Logic/weather rules, & website, provided by Mersey Rowing Club</p>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var sidebarToggle = document.getElementById("sidebarToggle");
        var sidebar = document.getElementById("sidebar");
        var content = document.getElementById("content");

        if (sidebarToggle && sidebar && content) {
            sidebarToggle.addEventListener("click", function() {
                sidebar.classList.toggle("collapsed");
                content.classList.toggle("collapsed");
                this.classList.toggle("collapsed");
            });
        }
    });
</script>
</body>
</html>
