.water-session {
    background-color: #3fb4d7 !important;
    color: black;
}
.erg-session {
    background-color: #f7f7ae !important;
    color: black;
}
body {
    font-family: Arial, sans-serif;
}
.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}
th {
    background-color: #f4f4f4;
    font-weight: bold;
}
tbody tr {
    background-color: #f9f9f9;
}
tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}
tbody td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.session-column {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #e9f4ff;
}