.water-session {
    background-color: #3fb4d7; /* Blue background */
    color: black; /* White text */
}

.erg-session {
    background-color: #f7f7ae; /* Blue background */
    color: black; /* White text */
}

.edit-sessions-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    color: #fff; /* Text color */
    background-color: #007bff; /* Button background color */
    border: none; /* Remove default link border */
    border-radius: 4px; /* Optional: add border radius for rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    text-decoration: none; /* Remove underline from the link */
}

.edit-sessions-button:hover {
    background-color: #0056b3; /* Darken the button on hover */
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #fff; /* Text color for better contrast */
    font-size: 16px;
}

.alert-success {
    background-color: #d4edda; /* Light green background */
    border: 1px solid #c3e6cb; /* Slightly darker green border */
    color: #155724; /* Dark green text */
}

.alert-error {
    background-color: #f8d7da; /* Light red background */
    border: 1px solid #f5c6cb; /* Slightly darker red border */
    color: #721c24; /* Dark red text */
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    text-align: left;
}
.header-column {
    text-align: center;
    font-weight: bold;
}
.button-container {
    margin: 20px 0;
    text-align: right;
}
.button-container button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
.form-container {
    display: none; /* Initially hidden */
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.form-container label {
    display: block;
    margin-bottom: 10px;
}
.form-container select, .form-container input[type="text"], .form-container input[type="time"] {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
}
.form-container button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}