/* General body styles */
body {
    font-family: Arial, sans-serif;
    font-size: 25px; /* Reduced base font size for non-mobile */
}

/* Header container styles */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
}

/* Header image styles */
.header-container img {
    margin-left: 10px;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
}

/* Session box styles */
.session-box {
    border: 1px solid #ddd;
    padding: 20px; /* Adjusted padding */
    margin: 20px 0; /* Adjusted margin */
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* General container styles */
.conditions-container {
    display: grid;
    gap: 20px; /* Space between items */
}

/* Select element styles */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Hide default arrow */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M4 5h8a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    font-size: 1.2em; /* Increase font size */
    margin-bottom: 20px;
}

/* Form container styles */
.form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

/* Label styles */
label {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Submit button styles */
.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    body {
        font-size: 50px; /* Larger font size for mobile */
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 2em; /* Adjust header sizes */
    }

    p, a {
        font-size: 1.6em; /* Adjust paragraph and link sizes */
    }

    .conditions-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns on mobile */
    }
}

/* Media query for larger screens */
@media (min-width: 601px) {
    .conditions-container {
        grid-template-columns: repeat(3, 1fr); /* Three columns on desktop */
    }
}
