/* General body styles */
body {
    font-family: Arial, sans-serif;
    font-size: 25px; /* Reduced base font size for non-mobile */
}

/* Header container styles */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
}

/* Header image styles */
.header-container img {
    margin-left: 10px;
}

/* Calendar styles */
.calendar {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Calendar header styles */
.calendar-header {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Day list styles */
.day-list {
    list-style-type: none;
    padding: 0;
}

/* Day item styles */
.day-item {
    margin-bottom: 5px;
}

/* Day link styles */
.day-link {
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

/* Day link hover effect */
.day-link:hover {
    background-color: #e0e0e0;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
}

/* Session box styles */
.session-box {
    border: 1px solid #ddd;
    padding: 20px; /* Adjusted padding */
    margin: 20px 0; /* Adjusted margin */
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* General container styles */
.conditions-container {
    display: grid;
    gap: 20px; /* Space between items */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    body {
        font-size: 50px; /* Larger font size for mobile */
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 2em; /* Adjust header sizes */
    }

    p, a {
        font-size: 1.6em; /* Adjust paragraph and link sizes */
    }

    .conditions-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns on mobile */
    }
}

/* Media query for larger screens */
@media (min-width: 601px) {
    .conditions-container {
        grid-template-columns: repeat(3, 1fr); /* Three columns on desktop */
    }
}
